

<h1>신이 나를 만들었을때!<h2>
 
  <img src="/assets/index.jpeg" alt="main image" />

<form class="form-inline" action ="home/result"method="get">
  <div class="form-group">
    <label for="exampleInputName2">이름:</label>
    <input type="text" class="form-control" id="exampleInputName2"  name="username" placeholder="이름을입력하세요">
  <button type="submit" class="btn btn-default">전송!</button>
  </div>

